body {
    font-family: Arial, sans-serif;
}

.large-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 10px;
}

#stock-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
}

#candle-chart {
    height: 500px; /* 主图高度增加 */
    width: 800px;
}

#macd-chart {
    height: 200px; /* MACD 图高度降低 */
    width: 800px;
}

#kdj-chart {
    height: 200px; /* KDJ 图高度降低 */
    width: 800px;
}

#dynamic-chart-container {
    width: 800px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dynamic-chart {
    width: 100% !important;
    height: 100% !important;
}

#dynamic-chart {
    width: 100%;
    height: 100%;
}

label {
    font-size: 150%;
}

input[type="text"],
input[type="date"] {
    font-size: 150%;
    padding: 0.5em;
}

#hourglass {
    display: none;
    font-size: 200px; /* 放大五倍 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* 确保在最上层 */
}